nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
}   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
header {
    background-color: #FFF8F3;
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-position: left 0 top 40px, right 0 bottom 0;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    align-items: center;
}

nav div h2 {
    font-size: 45px;
    font-weight: 800;
}
.orange-color {
    color: #FF7A00;
}   
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
#banner {
    display: flex;
    justify-content: space-between;
    margin: 45px 37px 0px 221px;
    align-items: center;   
}
.banner-content {
    max-width: 540px;
}

.banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

.banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}
.image-content img {
    max-width: 585px;
    vertical-align: middle;
}