nav {
    display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    border: 1px solid black;
}   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 51px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}